<div id="container">
  <br/>
  <br/>
  <br/>
  <div>
    <h2> Witaj w elektronicznej książeczce zdrowia dla zwierząt! <br/><br/></h2>
    <hr>
    <h3> Znajdziesz tu wszystkie informacje odnośnie swojego pupila w jednym miejscu. </h3>
  </div>

  <div class="content">
    <img src="assets/doggy.jpg" align="left" alt=""/>
  </div>

  <div class="content">
    <hr>
    <p>E-książeczka jest internetowym odpowiednikiem papierowej książeczki zdrowia dla zwierząt. Wirtualny charakter
      książeczki sprawi, że będzie o wiele wygodniejsza niż w wersji papierowej. Przede wszystkim, właściciel decydujący
      się na wirtualną wersję książeczki zdrowia dla swojego pupila może raz na zawsze zapomnieć o przymusie zabierania
      tego dokumentu w wersji papierowej. Dostęp do danych o naszym zwierzaku dzięki e-książeczce zdrowia, mamy bowiem
      przez cały czas – poprzez Internet. Nawet podczas nieplanowanej wizyty u weterynarza, gdy zalogujemy się na
      stronie e-książeczki, zarówno my jak i lekarz, będziemy mieli wgląd do pełnej dokumentacji medycznej
      zwierzęcia.</p>
  </div>
</div>
